# Git
.git
.gitignore

# Python / Environment
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
mypy.ini
pytest.ini

# Testing & Dev
tests
requirements-dev.txt
.pre-commit-config.yaml
.github

# Output / Temp
output
*.DS_Store

# IDEs
.vscode
.idea
*.code-workspace

# Documentation
CONTRIBUTING.md
CODE_OF_CONDUCT.md
ROADMAP.md
LICENSE

# Heavy Assets & Tooling
examples
tools
uv.lock
.python-version