# Inherit from base requirements
-r requirements.txt

# Testing & Linting
ruff==0.14.8
mypy==1.19.1
pytest==9.0.1
hypothesis==6.148.5
pre-commit==4.5.1       # Must also run `pre-commit install` after installing
watchdog==6.0.0         # Better performance while testing streamlit apps

# Type Stubs
pandas-stubs
types-requests
types-toml
types-Pygments
types-cachetools
types-cffi
types-colorama
types-defusedxml
types-jsonschema
types-pexpect
types-protobuf
types-pyasn1
types-pycurl
types-fpdf2